body {
  font-family: sans-serif;
  background-color: #00000f;
}

header {
  display: flex;
  flex-direction: column;
  height: min-content;
  margin-top: 2%;
}
header .basket {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
}
header .basket a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00000f;
}
header .basket:hover {
  background-color: #7a7a7a;
}
header h1 {
  font-family: "Arial black";
  color: #d6dbdf;
  letter-spacing: 30pt;
  border: solid 2px #00000f;
  border-image: linear-gradient(to right, #b71c1c, #e65100, #ffca28) 9;
  border-image-width: 1px;
  text-shadow: 5px 0px 0px #7a7a7a, 10px 0px 0px #3d3d3d;
  width: 200px;
  margin-left: 10%;
}
header nav {
  margin-top: 10px;
  display: flex;
  border-bottom: 1px solid white;
}
header nav .active {
  border-bottom: solid 3px #d6dbdf;
}
header nav div {
  min-width: 50px;
  max-width: 200px;
  padding: 0px 5% 0px 5%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav div a {
  padding: 10px;
  font-variant: all-small-caps;
  text-decoration: none;
  font-weight: bold;
  color: white;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav div div {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav div:hover ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header nav div:hover ul li {
  padding: 10px;
}
header nav ul {
  position: fixed;
  top: 80px;
  right: 50px;
  list-style: none;
  padding: 10px;
  display: none;
  background-color: #00000f;
}

#footer {
  margin-top: 50px;
  height: 200px;
  background-color: #00000f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer #pageTop {
  color: #d6dbdf;
  text-decoration: none;
  font-weight: bold;
}
#footer #pageTop:hover {
  text-decoration: underline;
}

#product_grid {
  padding: 20px 10% 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}
#product_grid a {
  text-decoration: none;
  color: inherit;
}
#product_grid .product_card {
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 30px 10px;
  border-bottom: solid 30px #3e2b1a;
}
#product_grid .product_card * {
  max-width: 200px;
}
#product_grid .product_card h2 {
  margin-top: 15px;
  margin-bottom: 0;
}
#product_grid .product_card p {
  margin-top: 5px;
  margin-bottom: 5px;
}
#product_grid .product_card .product_artist {
  margin-top: 0;
}
#product_grid .product_card .product_date {
  color: #7a7a7a;
}
#product_grid .product_card:hover {
  border-image: linear-gradient(to right, #b71c1c, #e65100, #ffca28) 9;
}
#product_grid .product_card:hover img {
  opacity: 0.9;
}
#product_grid .category_card {
  width: min-content;
  min-width: 70%;
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow: hidden;
}
#product_grid .category_card h1 {
  border-image: linear-gradient(to right, #b71c1c, #e65100, #ffca28) 9;
  border-bottom: solid 2px #00000f;
  margin-top: 40px;
  padding-left: 40px;
  width: 100%;
}
#product_grid .category_card .top_product {
  display: flex;
  margin: 40px;
}
#product_grid .category_card .top_img {
  width: 200px;
  margin-right: 20px;
}
#product_grid .category_card .top_info {
  display: flex;
  flex-direction: column;
}
#product_grid .category_card .top_info h2 {
  font-size: 4em;
  font-weight: bolder;
  margin: 0;
}
#product_grid .category_card .top_info h3 {
  font-size: 3em;
  margin-top: 0px;
  margin-bottom: 5px;
}
#product_grid .category_card .top_info :last-child {
  font-size: 2em;
  font-weight: normal;
  color: #7a7a7a;
}
#product_grid .category_card .else_product {
  padding: 10px 0px 10px 0;
  width: 100%;
  background-color: #3e2b1a;
  display: flex;
  justify-content: center;
  max-height: 150px;
  overflow: hidden;
}
#product_grid .category_card .else_product p:last-child {
  margin-right: 0;
}
#product_grid .category_card .else_product p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: white;
  margin: 0 30px 0 0;
}
#product_grid .category_card .else_product img {
  width: 100px;
}

#product_closeup {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  background-color: white;
}
#product_closeup .top_info {
  display: flex;
  padding: 30px;
  font-size: 3em;
}
#product_closeup .top_description {
  border-left: 1px solid #00000f;
  padding-left: 30px;
}
#product_closeup .top_description .product_date {
  color: #7a7a7a;
}
#product_closeup .product_image_cd {
  width: 500px;
  margin-right: 30px;
}
#product_closeup .product_image_dvd, #product_closeup .product_image_livre, #product_closeup .product_image_magazine {
  width: 400px;
  margin-right: 30px;
}
#product_closeup .product_description {
  color: white;
  background-color: #3e2b1a;
  padding: 30px;
}
#product_closeup .product_description h2 {
  width: 100%;
  border-bottom: 2px solid white;
}
#product_closeup .stock {
  width: 100%;
  max-width: 300px;
  color: #005f1e;
  font-size: 0.4em;
  min-width: 130px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #005f1e;
}
#product_closeup .stock * {
  margin: 0;
}
#product_closeup .stock i {
  margin-right: 10px;
}
#product_closeup .stock div {
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-left: 10px;
  border-left: solid 1px #005f1e;
}
#product_closeup button {
  margin: 15px;
  width: 100%;
  max-width: 300px;
  color: white;
  height: 40px;
  border-radius: 15px;
  background-color: #005f1e;
}

.out_of_stock {
  color: #5f0009;
  border-bottom: solid 1px #5f0009;
}
.out_of_stock div {
  border-left: solid 1px #5f0009;
  color: white;
}

.product_add_out {
  background-color: #5f0009;
}

#error_config {
  background-color: #b71c1c;
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px;
}

#connexion_card {
  background-color: transparent;
  border: 3px solid white;
  margin: auto;
  margin-top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 30px;
  width: 200px;
}
#connexion_card p {
  color: #b71c1c;
}
#connexion_card #connexion_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#connexion_card #connexion_content input {
  margin-bottom: 10px;
}
#connexion_card #connexion_content button {
  margin-top: 20px;
  height: 25px;
  background: linear-gradient(to right, #b71c1c, #e65100, #ffca28);
  border-radius: 15px;
  border: 3px solid white;
  color: white;
}

#already_registered {
  display: flex;
  justify-content: center;
}
#already_registered a {
  margin: auto;
  color: #7a7a7a;
  text-decoration: none;
}
#already_registered a:hover {
  color: white;
  text-decoration: underline;
}

#config_container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#config_container .table_container {
  min-width: 1360px;
  width: 40%;
  margin: 20px;
}
#config_container .config_table {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
}
#config_container .config_table th {
  color: white;
  font-weight: normal;
  font-variant: all-small-caps;
  background-color: #3e2b1a;
}
#config_container .config_table td {
  border: 1px solid #3e2b1a;
  padding: 5px;
  text-align: center;
  text-wrap: normal;
}
#config_container .config_table td img {
  width: 100px;
  margin: auto;
}
#config_container .config_table .table_title {
  font-weight: bold;
  font-variant: normal;
  padding: 10px;
  font-size: 2em;
}
#config_container .config_table .table_add {
  border: 5px solid #cda522;
}

.cart {
  margin: 10%;
  margin-top: 20px;
  border: 1px solid white;
}
.cart .cart_item {
  transform: scale(0.8);
}

.cart_title {
  text-align: center;
  max-width: 200px;
  margin: auto;
  margin-top: 40px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
